@import "tailwindcss";

@import "./swiper";
@import "./utility.css";
@import "./styles.css" layer(base);



@theme {
	--color-theme-primary: oklch(0.79 0.1254 233.02);	/* #5cc9ff */
	--color-theme-dark: oklch(0.62 0.1254 233.02);
	--color-theme-light: oklch(0.88 0.1254 233.02);

	--color-theme-text-light: var(--color-neutral-200);
	--color-theme-text-light-sub: var(--color-neutral-400);
	--color-theme-text-dark: var(--color-neutral-800);
	--color-theme-text-dark-sub: var(--color-neutral-600);

	--color-theme-bg-light: var(--color-neutral-100);
	--color-theme-bg-light-sub: var(--color-neutral-200);
	--color-theme-bg-dark: color-mix(in oklab, var(--color-neutral-900) 98%, blue);
	--color-theme-bg-dark-sub: color-mix(in oklab, var(--color-theme-bg-dark) 95%, white);
}

@custom-variant hovero { /* hover original */
	&:hover {
		@media (hover: hover) {
			@slot;
		}
	}
}

@custom-variant hover {
	&:hover {
		@media (hover: hover) and (pointer: fine) {
			@slot;
		}
	}
}
