:root {
	/* @apply scroll-smooth antialiased; */
	@apply bg-theme-bg-light text-theme-text-dark;
} ::selection {
	@apply bg-theme-primary/85;
	@apply text-theme-text-dark;
} html {
	@apply min-h-full flex flex-col;
} body {
	@apply overflow-x-hidden;
} body, #root {
	@apply flex-1 flex flex-col;
} main {
	@apply flex-1;
} * {
	cursor: url("/cursor.svg") 6 6, auto !important;
}



a, button {
	@apply cursor-pointer transition-[color,text-shadow];
	@apply hover:text-theme-primary [&.active]:text-theme-primary;
	@apply hover:textBorder-transparent [&.active]:textBorder-transparent;
} :where(a, button).link-primary, .link-primary :where(a, button) {
	@apply text-theme-primary hover:text-theme-dark [&.active]:text-theme-dark;
} section {
	--section-px: calc(var(--spacing) * 8);

	@media (width >= 48rem) {
		--section-px: calc(var(--spacing) * 16);
	}

	@apply px-(--section-px) font-semibold;

	.title {
		@apply mb-4 text-2xl;
		@apply text-center font-extrabold;
	}
}



.menuBtn {
	--bg: var(--color-theme-text-dark);
	--bd: var(--color-theme-bg-light);

	.container {
		@apply relative w-full h-full;
	} span {
		@apply block rounded-full;
		@apply w-full h-[calc(100%*15/100)];
		@apply bg-(--bg,var(--color-theme-bg-dark));
		@apply border-1 border-(--bd,var(--color-theme-bg-light));
		@apply absolute top-[50%] -translate-y-1/2;
		@apply transition-[opacity_transform];
	}

	.top {
		@apply top-1/4;
	} .left, .right {
		@apply top-2/4;
	} .bottom {
		@apply top-3/4;
	} &.active {
		.top, .bottom {
			@apply opacity-0;
		} .left {
			@apply rotate-45;
		} .right {
			@apply -rotate-45;
		}
	}
}
